<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jardines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-title align="center"><b>Altar de Dios</b></ion-card-title>
  <img src="/assets/6.jpg">
  <ion-card-content>
    <p>Ubicado en la parte frontal del cementerio, es el jardín mas bello e importante del lugar , debido a su gran
      variedad de árboles, espacios verdes y hermosas flores. El Altar de Dios es un lugar bello para descansar luego de
      dar un paseo en el cementerio</p>
  </ion-card-content>
  <ion-card-title align="center"><b>Parque de los Recuerdos</b></ion-card-title>
  <img src="/assets/1.jpg">
  <ion-card-content>
    <p>Ubicado en la parte inferior izquierda del cementerio, es el segundo jardin que tiene el lugar, rodeado por
      esculturas en ciprés que deleitan la vista y una bella vegetación, como su nombre lo indica es un lugar perfecto
      para recordar quienes fueron nuestros seres queridos y contar anécdotas sobre ellos</p>
  </ion-card-content>
</ion-content>