<ion-header color='primary'>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Esculturas en Ciprés</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card-title align="center"><b>Camino al Cielo</b></ion-card-title>
  <img src="/assets/21.jpg">
  <ion-card-content>
    <p>un dato relevante es que es la primera figura realizada por el Sr. Azael Franco, tiene la forma de la espiral de
      los tiempos; representa el origen de la vida y la muerte. Es considerada una figura sagrada universal para los
      pueblos pastos y Quillasingas. Ganador del premio nacional en el concurso “El árbol más importante del Ecuador”
      categoría con más relevancia turística.</p>
  </ion-card-content>
  <ion-card-title align="center"><b>Imperio Egipcio</b></ion-card-title>
  <img src="/assets/22.jpg">
  <ion-card-content>
    <p>Modelo de tumbas de los faraones que gobernaban las tierras egipcias y arco de medio punto estilo egipcio
      denominado “La Portada” plasmado en su parte frontal un medallón con perfecta aplicación de la geometría y las
      matemáticas que dieron un valor universal al mundo.
      En la parte baja existe la gran esfinge Guiza del Río Nilo
    </p>
  </ion-card-content>
  <ion-card-title align="center"><b>Los Mascarrones</b></ion-card-title>
  <img src="/assets/23.jpg">
  <ion-card-content>
    <p>Los Mascarones que representan al Cusco, cultura Inca. El izquierdo representa en sus ojos la alegría y el
      derecho agudiza los sentimientos de la tristeza.</p>
  </ion-card-content>
  <ion-card-title align="center"><b>Estatuilla del Hombre</b></ion-card-title>
  <img src="/assets/24.jpg">
  <ion-card-content>
    <p>La Estatuilla del hombre en donde vemos claramente que con su mano derecha forma un puño que simboliza el
      trabajo, la fuerza y la honestidad del hombre, y en su mano izquierda lleva la antorcha símbolo de civismo y
      lealtad hacia la patria.</p>
  </ion-card-content>
  <ion-card-title align="center"><b>Arcos Parabólicos</b></ion-card-title>
  <img src="/assets/25.jpg">
  <ion-card-content>
    <p>un dato relevante es que es la primera figura realizada por el Sr. Azael Franco, tiene la forma de la espiral de
      los tiempos; representa el origen de la vida y la muerte. Es considerada una figura sagrada universal para los
      pueblos pastos y Quillasingas. Ganador del premio nacional en el concurso “El árbol más importante del Ecuador”
      categoría con más relevancia turística.</p>
  </ion-card-content>

  <ion-card-title align="center"><b>Jesús en la Cruz del Calvario</b></ion-card-title>
  <img src="/assets/26.jpg">
  <ion-card-content>
    <p>por los pecados del hombre y su muerte por el perdón y la salvación de la humanidad.</p>
  </ion-card-content>

  <ion-card-title align="center"><b>Virgen de la Piedad</b></ion-card-title>
  <img src="/assets/27.jpg">
  <ion-card-content>
    <p>un dato relevante es que es la primera figura realizada por el Sr. Azael Franco, tiene la forma de la espiral de
      los tiempos; representa el origen de la vida y la muerte. Es considerada una figura sagrada universal para los
      pueblos pastos y Quillasingas. Ganador del premio nacional en el concurso “El árbol más importante del Ecuador”
      categoría con más relevancia turística.</p>
  </ion-card-content>

  <ion-card-title align="center"><b>Búho</b></ion-card-title>
  <img src="/assets/35.jpg">
  <ion-card-content>
    <p>La figura del Búho. Esta ave habita en casi todos los lugares del planeta, es el símbolo de la sabiduría,
      educación, lealtad y esfuerzo intelectual.</p>
  </ion-card-content>

  <ion-card-title align="center"><b>Pinguinos</b></ion-card-title>
  <img src="/assets/34.jpg">
  <ion-card-content>
    <p>Son una pareja de pingüinos muy representativos de la fauna de las Islas Galápagos uno de los principales
      atractivos turísticos del mundo que se encuentran nuestro país. </p>
  </ion-card-content>

  <ion-card-title align="center"><b>Rumiñahui</b></ion-card-title>
  <img src="/assets/33.jpg">
  <ion-card-content>
    <p>Fue el último descendiente del imperio Inca gobernado por Atahualpa, quien puso resistencia a la conquista
      española, tenía su rostro con rasgos fuertes, por eso se llamó Rumiñahui, que significa rumi piedra y ñahui cara.
    </p>
  </ion-card-content>

  <ion-card-title align="center"><b>Puerta del sol</b></ion-card-title>
  <img src="/assets/32.jpg">
  <ion-card-content>
    <p>(Inti Punku) es un monumento de las Ruinas Arqueológicas de Tiahuanaco, ubicadas en Bolivia. Es conocida a nivel
      mundial como la mejor muestra del grado de perfección que alcanzó esta cultura, tanto por el arte como por la
      simbología que atesoran sus bajos relieves.</p>
  </ion-card-content>

  <ion-card-title align="center"><b>Hacha Olmeca</b></ion-card-title>
  <img src="/assets/30.jpg">
  <ion-card-content>
    <p>Se decoran en la parte frontal con la figura de un extraño personaje, una mezcla entre real y fantástico. Para
      realizarlas utilizaron materiales de gran dureza como el jade o similares.
      Se cree que tuvieron un simbolismo religioso-ceremonial, los Dioses se valían de ellas para golpear las nubes para
      originar la lluvia. Esta teoría cobra mayor fuerza teniendo en cuenta el lugar donde han sido halladas, cerca de
      construcciones ceremoniales.
    </p>
  </ion-card-content>

  <ion-card-title align="center"><b>Otario</b></ion-card-title>
  <img src="/assets/31.jpg">
  <ion-card-content>
    <p>Escultura arquitectónica de estilo neoclásico soportada por tres columnas monolíticas de piedra con una cúpula
      formando una esfera tiene una profundidad de 15 metros.
      Su diseño original responde a la necesidad del depósito de osamentas comunes

    </p>
  </ion-card-content>

</ion-content>