<ion-header no-border>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar aria-placeholder="Buscarproducto" animated (ionChange)="buscar( $event )"></ion-searchbar>
<ion-content>


  <ion-card *ngFor="let i of items | filtro:textoBuscar">

    <ion-img *ngIf="i._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url"
      class="animated fadeIn fast" [src]="i._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url">
    </ion-img>


    <ion-card-header>
      <ion-card-subtitle>{{i.id}}</ion-card-subtitle>
      <ion-card-title>{{i.title.rendered}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>
  </ion-card>


  <ion-content padding>
    <ion-button color="success" expand="full" (click)="openBlank()">Comprar Artículos</ion-button>
  </ion-content>
</ion-content>