<ion-header color='primary'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title align="center"><b>Cementerio "José María Azael Franco Guerrero</b></ion-card-title>
  <img src="/assets/inicio.jpg">
  <ion-card-content>
    <p>Es una obra de arte construida en 1.936, sobre árboles de ciprés, es una escultura en verde con representación
      de
      las culturas egipcias, romanas, ecuatorianas, incásicas así como animales representativos de Ecuador. El 28 de
      mayo de 1984, la obra fue declarada "Patrimonio Cultural del Estado" por el Instituto de Patrimonio Cultural del
      Ecuador. El 23 de agosto del mismo año, la Dirección Nacional de Turismo lo declara junto a sus jardines
      interiores como "Sitio natural de interés turístico Nacional".</p>
  </ion-card-content>

</ion-content>